<div class="contact-header-container">
  <img [src]="banner" alt="hero" class="hero-img" />
  <div class="hero-section">
    <h1>Contact With Us</h1>
    <span>Home / Contact</span>
  </div>
</div>

<div class="contact-content-container">
  <div class="contact-info-container">
    <div class="contact-info-item">
      <div class="contact-info-item-icon-cont">
        <fa-icon icon="phone" class="contact-info-item-icon"></fa-icon>
      </div>
      <h4>Contact Number</h4>
      <span>+0123 654 987</span>
      <span>+0123 456 789</span>
    </div>
    <div class="contact-info-item">
      <div class="contact-info-item-icon-cont">
        <fa-icon icon="location-arrow" class="contact-info-item-icon"></fa-icon>
      </div>
      <h4>Contact Number</h4>
      <span>+0123 654 987</span>
      <span>+0123 456 789</span>
    </div>
    <div class="contact-info-item">
      <div class="contact-info-item-icon-cont">
        <fa-icon icon="envelope" class="contact-info-item-icon"></fa-icon>
      </div>
      <h4>Contact Number</h4>
      <span>+0123 654 987</span>
      <span>+0123 456 789</span>
    </div>
  </div>
  <div class="contact-title-container">
    <span class="topTitle">Contact Us</span>
    <h2 class="contact-title">Get in Touch</h2>
  </div>
  <div class="contact-form-container">
    <form action="" class="contact-form">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-form-item">
            <input
              _ngcontent-pla-c10=""
              type="text"
              name="name"
              id="name"
              required=""
              placeholder="Your name"
              class="formitem"
            />
          </div>
        </div>
        <div class="col-md-6 col-md-6">
            <div class="contact-form-item">
              <input
                _ngcontent-pla-c10=""
                type="text"
                name="name"
                id="name"
                required=""
                placeholder="Your name"
                class="formitem"
              />
            </div>
          </div>
          <div class="col-md-6 col-md-6">
            <div class="contact-form-item">
              <input
                _ngcontent-pla-c10=""
                type="text"
                name="name"
                id="name"
                required=""
                placeholder="Your name"
                class="formitem"
              />
            </div>
          </div>
          <div class="col-md-6 col-md-6">
            <div class="contact-form-item">
              <input
                _ngcontent-pla-c10=""
                type="text"
                name="name"
                id="name"
                required=""
                placeholder="Your name"
                class="formitem"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form-item">
                <textarea
                  _ngcontent-pla-c10=""
                  type="text"
                  name="name"
                  id="name"
                  required=""
                  placeholder="Your name"
                  class="formitem area"
                ></textarea>
              </div>
          </div>
          <div class="col-md-12 ">
              <button class="contact-form-btn">Send Message</button>
          </div>
      </div>
    </form>
  </div>
</div>
