<div class="signup-header-container">
  <img [src]="banner" alt="hero" class="hero-img" />
  <div class="hero-section">
    <h1>Sign Up</h1>
    <span>Home / Sign Up</span>
  </div>
</div>

<div class="signup-content-container">
  <div class="signup-title-container">
    <h2 class="signup-title">Create an Account!</h2>
    <p class="topTitle">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor rem
      laborum tempore provident, sequi quod exercitationem expedita itaque
      dolorem nobis reiciendis iure
    </p>
  </div>
  <div class="signup-form-container">
    <form action="" class="signup-form">
      <div class="row">
          <div class="col-md-6">
            <div class="signup-form-item">
                <input
                  _ngcontent-pla-c10=""
                  type="text"
                  name="name"
                  id="name"
                  required=""
                  placeholder="First name"
                  class="formitem"
                />
              </div>
          </div>
          <div class="col-md-6">
            <div class="signup-form-item">
                <input
                  _ngcontent-pla-c10=""
                  type="text"
                  name="name"
                  id="name"
                  required=""
                  placeholder="Last name"
                  class="formitem"
                />
              </div>
          </div>
      </div>
      <div class="signup-form-item">
        <input
          _ngcontent-pla-c10=""
          type="text"
          name="name"
          id="name"
          required=""
          placeholder="Enter your Username"
          class="formitem"
        />
      </div>
      <div class="signup-form-item">
        <input
          _ngcontent-pla-c10=""
          type="text"
          name="name"
          id="name"
          required=""
          placeholder="Email Address"
          class="formitem"
        />
      </div>
      <div class="signup-form-item">
        <input
          _ngcontent-pla-c10=""
          type="text"
          name="name"
          id="name"
          required=""
          placeholder="Password"
          class="formitem"
        />
      </div>
      <div class="signup-form-item">
        <input
          _ngcontent-pla-c10=""
          type="text"
          name="name"
          id="name"
          required=""
          placeholder="Confirm Password"
          class="formitem"
        />
      </div>
      <div class="signup-form-check">
        <input  type="checkbox" id="exampleCheck1" class="form-check-input">
        <label  for="exampleCheck1" class="form-check-label">I agree with Terms &amp; Conditions</label>
      </div>
      <div class="signup-form-accept">
        <button class="signup-form-btn">Send Message</button>
        <p>Already have an account? <span style="color: #F7941D; cursor: pointer;" routerLink="../signin">{{ 'jptr.menu.sign-in' | translate }}</span> </p>
      </div>
    </form>
  </div>
</div>
